{% extends 'layout.html' %} {% block title %} Home {% endblock %} {% block id
%}home{% endblock %} {% block content %}
<!-- Home/hero -->
<div class="container" id="hero">
  <!-- Breadcrumb -->
  <div id="breadContainer">
    <nav aria-label="breadcrumb" id="mainBreadcrumb" class="mb-4">
      <div class="d-flex gap-5" id="container-Navitem">
        <div id="breadTitle" class="hidden">
          <img src="/img/logo.ico" alt="Logo StaphSec" width="30px" />
          <span
            ><a
              href="#hero-content"
              class="text-decoration-none breadcrumb-link"
              >StaphSec</a
            ></span
          >
        </div>
        <div class="d-flex align-items-center gap-3">
          <a href="#tentang" class="breadcrumb-link text-decoration-none"
            >Tentang</a
          >
          <a href="#tim" class="breadcrumb-link text-decoration-none"
            >Tim Kami</a
          >
          <a href="#service" class="breadcrumb-link text-decoration-none"
            >Service</a
          >
        </div>
      </div>
    </nav>
  </div>

  <div class="row" id="hero-content">
    <div class="row align-items-center">
      <div class="col-md-6 animate-element">
        <h1 class="display-4 text-primary mb-3">
          Kelola Karyawan, Tingkatkan Produktivitas.
        </h1>
        <p class="lead text-secondary mb-4">
          SIKarya adalah Sistem Informasi Karyawan yang dirancang untuk
          menyederhanakan manajemen data sumber daya manusia dalam perusahaan.
        </p>
        <ul class="list-unstyled mb-4 text-primary">
          <li>
            <i class="fa-solid fa-server"></i>
            Data Karyawan Terpusat & Akurat
          </li>
          <li>
            <i class="fa-solid fa-circle-info"></i>
            Akses Cepat Informasi Penting
          </li>
          <li>
            <i class="fa-solid fa-signal"></i>
            Laporan & Analisis Kinerja
          </li>
        </ul>
        <div class="d-flex flex-md-row flex-column gap-4">
          <div>
            <a
              href="{{ url_for('read') }}"
              class="btn btn-primary btn-lg text-decoration-none"
              >Kelola Data Karyawan</a
            >
          </div>
          <div>
            <a
              href="#tentang"
              class="btn btn-outline-secondary btn-lg text-decoration-none"
              >Pelajari Lebih Lanjut</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-6 right-content animate-element">
        <img src="/img/logo.png" alt="Gambar SIKarya" />
      </div>
    </div>
  </div>
</div>

<!-- Tentang -->
<div class="container py-5" id="tentang">
  <h2 class="text-center mb-5 text-primary title animate-element">
    Tentang SIKarya
  </h2>
  <div class="row">
    <div class="col-md-6 animate-element">
      <h3 class="text-primary">Apa itu SIKarya?</h3>
      <div class="mb-5">
        <p class="text-secondary">
          SIKarya adalah platform terpadu yang dirancang untuk menyederhanakan
          dan mengoptimalkan pengelolaan data karyawan di lingkungan
          <strong>StaphSec</strong>. Dibangun dengan visi untuk meningkatkan
          efisiensi operasional dan akurasi data, SIKarya memungkinkan
          departemen Sumber Daya Manusia dan manajer untuk mengakses, mengelola,
          dan menganalisis informasi karyawan dengan mudah dan aman.
        </p>
        <p class="text-secondary focus">
          Fokus utama kami adalah menjadi sumber informasi tunggal yang
          komprehensif untuk semua data SDM, mulai dari profil pribadi hingga
          informasi kontak penting.
        </p>
      </div>
    </div>
    <div class="col-md-6 mb-5 animate-element">
      <h3 class="text-primary">Fitur-fitur Utama</h3>
      <div class="card card-hover px-4 py-2 mb-3">
        <h5>Manajemen Data Karyawan</h5>
        <p>
          Pencatatan dan pembaruan detail pribadi, riwayat jabatan, dan
          informasi kontak.
        </p>
      </div>
      <div class="card card-hover px-4 py-2 mb-3">
        <h5>Pencarian dan Filter Cepat</h5>
        <p>
          Temukan informasi karyawan secara instan dengan fitur pencarian yang
          intuitif.
        </p>
      </div>
      <div class="card card-hover px-4 py-2 mb-3">
        <h5>Akses Informasi yang Aman</h5>
        <p>
          Data tersimpan dengan aman, memastikan integritas dan kerahasiaan
          informasi sensitif.
        </p>
      </div>
    </div>
  </div>

  <div class="row animate-element">
    <h3 class="text-primary">Manfaat bagi Anda</h3>
    <div class="col-md-4">
      <div class="card card-hover px-4 py-2 mb-3">
        <h5>Efisiensi Tinggi</h5>
        <p>Mengurangi beban kerja administrasi dan mempercepat proses.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-hover px-4 py-2 mb-3">
        <h5>Akurasi Data Terjamin</h5>
        <p>Meminimalkan kesalahan dengan pengelolaan data yang terpusat.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-hover px-4 py-2 mb-3">
        <h5>Akurasi Data Terjamin</h5>
        <p>Meminimalkan kesalahan dengan pengelolaan data yang terpusat.</p>
      </div>
    </div>
  </div>
</div>

<!-- Tim developer -->
<div class="container" id="tim">
  <h2 class="text-center mb-5 text-primary title animate-element">Tim Kami</h2>
  <div
    class="d-flex flex-md-row flex-column gap-4 align-items-center justify-content-center"
    id="avatar-container"
  >
    <div class="mb-3 card animate-element">
      <div class="d-flex flex-column align-items-center">
        <img src="img/robin.png" alt="Robin" />
        <div class="bg-secondary text-center p-2">
          <p class="text-primary mb-0 fs-5">Robin Ndraha</p>
        </div>
      </div>
    </div>
    <div class="mb-3 card animate-element" id="avatar">
      <div class="d-flex flex-column align-items-center">
        <img src="img/miya.png" alt="Miya" />
        <div class="bg-secondary text-center p-2">
          <p class="text-primary mb-0 fs-5">Awalisani Umiyati</p>
        </div>
      </div>
    </div>
    <div class="mb-3 card animate-element" id="avatar">
      <div class="d-flex flex-column align-items-center">
        <img src="img/habib.png" alt="Habib" />
        <div class="bg-secondary text-center p-2">
          <p class="text-primary mb-0 fs-5">Habiburrahman</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Kontak -->
<div class="container" id="service">
  <h2 class="text-center mb-5 text-primary title animate-element">Service</h2>
  <div class="row">
    <div class="col-md-6 animate-element mb-4">
      <h3 class="text-secondary mb-3">Lokasi</h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1009.9823839987996!2d110.32975748083773!3d-7.793524804354927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a59dd471e4c1b%3A0xee5472c4dfd1658b!2sFakultas%20Teknik%20dan%20Teknologi%20Informasi%20UNJAYA!5e0!3m2!1sid!2sid!4v1762687488087!5m2!1sid!2sid"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        class="rounded"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="col-md-6 animate-element mb-4">
      <h3 class="text-secondary mb-3">Hubungi Kami</h3>
      <form>
        <div class="d-flex gap-4 mb-4 card-msg rounded">
          <span><i class="fa-solid fa-user fs-2"></i></span>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Nama"
            required
          />
        </div>
        <div class="d-flex gap-4 mb-4 card-msg rounded">
          <span><i class="fa-solid fa-envelope fs-2"></i></span>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            required
          />
        </div>
        <div class="d-flex gap-4 mb-4 card-msg rounded">
          <span><i class="fa-solid fa-comments fs-2"></i></span>
          <textarea
            name="message"
            id="message"
            placeholder="Masukkan pesan Anda"
          ></textarea>
        </div>
        <button type="submit" class="rounded" id="submit-btn">Send Message</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
